.DS_Store
Thumbs.db

# Credenziali e dati sensibili (NON inviarli mai su GitHub)
.env
.env.local
*.pem
certs/

# Cartelle delle dipendenze (Troppo grandi da caricare)
node_modules/
vendor/
.venv/
env/

# Cartelle di build e output (Codice compilato)
/dist/
/build/
/out/
*.exe
*.dll

# Log di errore e file temporanei
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Impostazioni personali dell'editor di codice
.vscode/
.idea/
*.suo
*.ntvs*


tifs_new/
__pycache__/
